/**Using simple and common font-families and a nice solid simple color for the
background**/

body {
  font-family:Arial,Helvettica,sans-serif;
  background-color:#BBFFDA;
}

header {
  width:80%;
  background-color:#80CBE8;
  color:white;
  margin-right:auto;
  margin-left:auto;
  padding:10px;
  overflow:hidden;
}

h1 {
  font-size:1.7;
  margin:0;
  padding:0;
  padding-top:12px;                                 /**im trying to find my nesting format for my css=====
                                                     ====credit to @JabalTorres**/
}

h2 {
  font-size:1.4;
}

h3 {
  font-size:1.3;
}

hgroup {
  width:70%;
  float:left;
}

hgroup h1 {
  padding-top:0;
  line-height:1em;
}

hgroup h2 {
  text-transform:uppercase;
  font-size:1.2em;
  line-height:1em;
}



nav {
  width:30%;
  float:right;
}

nav ul {
  list-style-type:none;
}

nav li {
  float:left;
  margin-right:5px;
}

section {
  width:80%;
  background-color:white;
  margin-right:auto;
  margin-left:auto;
  border-color:#80CBE8;
  border-style:solid;
  border-width:5px;
  padding:5px;
}

p {
  margin:10px;
}

img {
  float:right;
  margin:0px 0px 10px 10px;
  box-shadow:3px 3px 5px 1px #cccccc;
}


aside {
  width:80%;
  margin-right:auto;
  margin-left:auto;
  font-size:.9em;
  background:#80ffd4;
  padding:20px;
  border:1px solid #696;
  border-radius:20px;

}



footer {
  width:80%;
  background-color:#80CBE8;
  color:white;
  margin-right:auto;
  margin-left:auto;
  height:50px;
  padding:10px;
}

/* Remove margins and padding from the list, and add a black background color ul css code provided by codepen*/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000099;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #4da0ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 1.5s;
    font-size: 15px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #ff3300;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

button.tiny, .button.tiny {
    padding-top: 0.625rem;
    padding-right: 1.25rem;
    padding-bottom: 0.6875rem;
    padding-left: 1.25rem;
    font-size: 0.6875rem;
}

#img1 {
  border-radius: 40px;
  opacity: 0.8;
  border-style: ridge;
}






